<link rel="stylesheet" href="styles/connections.css">
<div class="head col-xs-12">Связанные люди</div>
<div class="col-lg-10 col-md-12">
<div class="connections col-xs-6 col-sm-4 col-lg-4 col-md-4" ng-repeat='child in connections' ng-click="gotopage(child)">
    <div>
        <div class="col-xs-4 userava">
            <img src="images/kek.png" width="100%" alt="">
        </div>
        <div class="col-xs-8 connectName">
            <h3>{{child.name}}</h3>
            <h3><small>18 лет</small></h3>
        </div>
    </div>
</div>
</div>