<link rel="stylesheet" href="styles/finances.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<div class="col-md-12 head">Мои финансы</div>
<div class="col-xs-12">
	
    <div id="finances">
		<div class="col-md-3 card">
			<div class="col-md-12"><small>Карта</small><p>1800 Талантов</p></div>
			<div class="col-md-12"><small>Процент на остаток (в день)</small><p>1.2%</p></div>
		</div>
		<div class="col-md-12 col-lg-10 securities">
			<div class="cash"><font>Ценные бумаги: срочные</font></div>
			<div>
				<div class="col-md-4 col-lg-3 paperContainer" ng-repeat="paper in finances.express">
					<div class="col-xs-12 paper">
					<div>
						<ul>
							<li>
								<h3><small>Наличные</small></h3></li>
							<li>
								<h3>{{paper.cash}} талантов</h3></li>
							<li>
								<h3><small>Сальдо за сегодня</small></h3></li>
							<li>
								<h3>+{{paper.saldo}} талантов</h3></li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="col-md-12 col-lg-10 " id="shares">
        <div class="cash">Акции</font></div>
        <div>
            <div class="col-md-4 col-lg-3 paperContainer" ng-repeat="paper in finances.others">
                <div class="col-xs-12 share">
				<div>
                    <ul>
                        <li>
                            <h3><small>Доход</small></h3></li>
                        <li>
                            <h3>{{paper.cash}} талантов</h3></li>
                        <li>
                            <h3><small>Дата окончания</small></h3></li>
                        <li>
                            <h3>{{paper.date}}</h3></li>
                    </ul>
				</div>
                </div>
            </div>
        </div>
    </div>
	<div class="col-md-12 col-lg-10 history">
		<div class="cash col-md-12 col-lg-10">
			История операций
			<div>
			<div class="cardSwitch" ng-class="{cardOn: showCard}" ng-click="showCard=!showCard">
			По карте <i class="fa fa-times" ng-show="showCard" aria-hidden="true"></i>
			</div>
			<div class="cashSwitch" ng-class="{cashOn: showCash}" ng-click="showCash=!showCash">
			Наличными  <i class="fa fa-times" ng-show="showCash" aria-hidden="true"></i>
			</div>
			<div class="securitiesSwitch" ng-class="{securitiesOn: showSecurities}" ng-click="showSecurities=!showSecurities">
			Ценные бумаги  <i class="fa fa-times" ng-show="showSecurities" aria-hidden="true"></i>
			</div>
			<div class="charitySwitch" ng-class="{charityOn: showCharity}" ng-click="showCharity=!showCharity">
			Благотворительность  <i class="fa fa-times" ng-show="showCharity" aria-hidden="true"></i>
			</div>
			</div>
		</div>
		<div id="history">
			<div class="col-md-12 col-lg-10 itemOfHistory" ng-show="showType(transaction.type)" ng-repeat="transaction in history">
				<div class="col-xs-1"><img src="{{transaction.image}}" alt=""></div>
				<div class="col-xs-2 dateOfHistory">{{transaction.date}}</div>
				<div class="col-xs-3 textOfHistory">Станция "{{transaction.station}}"</div>
				<div class="col-xs-3 textOfHistory">{{transaction.rank}}</div>
				<div class="col-xs-3 textOfHistory {{transaction.type}}">-{{transaction.spend}} талантов</div>
			</div>
		</div>
	</div>
</div>