
			<div class="control">
				<div class="first-block">
					<div class="point2">
						3. Введите свой номер телефона и придумайте пароль
					</div>
					<p>Номер телефона</p>
					<input type="text" value="Алексей" ng-model="store.phone" >
					<p>Пароль</p>
					<input type="password" value="Иванов" ng-model="password">
					<p>Подтвердите пароль</p>
					<input type="password" value="Иванов" ng-model="checkpassword">
				</div>
				<div class="bottom-control">
					<div class="button" ng-click="confirm()">
						<div class="button-text">
							Подтвердить
						</div>
						<div class="button-icon">
						 <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</div>
					</div>
					<div class="reg">
					<a href="#/">Вернуться к авторизации</a>
					</div>
				</div>
			</div>
		