.item{
	background:#ffffff;
	margin-bottom:18px;
	border-radius:8px;
	box-shadow: inset 0px 0px 1px 1px #dcdcdc;
	display:table;
	height:auto;
}
.description{
	padding:20px 20px 20px 8.3333%;
}
.date{
	text-align:center;
    display:inline-block;
    vertical-align:middle;
}
.item-date{
	text-align:center;
	padding:0px 0px 0px 15px;
	height:100%;
	  position: absolute;
	  left: 0;
	  top: 0;
}
.help{
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0px;
}
.number{
	font-size:26px;
	font-weight:bold;
	margin-bottom:5px;
}
.helper {
	display: table;
	vertical-align:middle;
	height:200px;
	border: 1px solid red;
}
.image > img{
	
}
.description img{
	float:left;
	margin-right:25px;
	margin-bottom:15px;
}