@font-face {
    font-family: GhotamPro; /* Имя шрифта */
    src: url(../fonts/GOTHAMPROREGULAR.TTF); /* Путь к файлу со шрифтом */
	font-weight: regular;
	font-style: normal;
	
}
@font-face {
    font-family: GhotamPro; /* Имя шрифта */
    src: url(../fonts/GOTHAMPROBOLD.TTF); /* Путь к файлу со шрифтом */
	font-weight: bold;
	font-style: normal;
	
}

.head{
	font-size:24px;
	font-weight:bold;
	margin-bottom:20px;
}
body {
    font-family: GhotamPro;
    background-color: #f2f2f2;
}
#sidebar-wrapper {
    text-align: left;
    font-size: 20px;
    position: fixed;
    height: 100%;
    background-color: #363c43;
	
}
#sidebar-wrapper > img {
    display: block;
    margin:20px auto 0 auto;
}
#logo img {
	margin-left:calc((100% - 143px)/2);
	
    width: 143px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#user {
    text-align: center;
}
#useravatar {
    overflow: hidden;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#user img {
    height: 100%;
}
#username {
    text-align: left;
    padding-left: 10%;
	font-size:18px !important;
	color:#bac8d7;
    margin-top: 30px;
    margin-bottom: 30px; 
}
nav {
	
    padding-left: 10%;
}
#username >h3{
    font-size:19px !important;
}
#username h3 {
    margin-top: 15px;
}
#content-wrapper {
    margin-top: 0px;
}
nav ul {
    line-height: 40px;
    list-style: none;
    padding: 0;
}
nav li a {
    outline: none !important;
    text-decoration: none !important;
    color: #717982;
	font-size:18px;
}
a:hover, a:active {
    color: white !important;
}
a:visited {
    color: #717982;
}
#badgeline {
    position: relative;
}
.badge {
    padding: 3px 6px;
    background-color: red;
    position: absolute;
    left: 75%;
    top: -5%;
}

#sidebar {
  height: 100%;
  padding-right: 0;
}
#sidebar .nav {
  width: 95%;
}
.navbar{
	display:none;
}

/* collapsed sidebar styles */
@media screen and (max-width: 992px) {
	body {
  padding-top: 51px;  
}
	.navbar{
		display:inline;
	}
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -33.3%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33.3%;
  }
  .row-offcanvas-right.active {
    right: 33.3%;
  }
  .row-offcanvas-left.active {
    left: 33.3%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33.3%;
  }
  #sidebar {
    padding-top:0;
  }
  .navbar-toggle{
	
		display:inline;
		float:right;
  }
}
@media (min-width: 768px){
	.navbar-header{
		float:right;
	}
	
}